html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    font-size: 20px;
    font-family:"Nobile";
    margin: 50px;
    color: black;
    background-color: #faeee7;
}

main { 
    display: block;
    padding: 20px;
}

* { outline: none !important; }

a:hover {
    text-decoration: none;
    opacity: 0.95;
}

 h3, h4, h5, h6, p, a, input, div, textarea, label {
    margin: 0;
}

h1 {
    font:"Lobster"; 
    font-size: 36px;
}

h2 { font-size: 28px;
font: "Alegreya Sans";
 }

ul {
    list-style: none;
    padding-left: 0;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

p { font-size: 1em;
font: "Nobile"; }

img { border-style: none; }

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    box-sizing: border-box;
}

/* more recipes */
* {
    box-sizing: border-box;
  }
  
  .box {
    float: left;
    width: 33.33%;
    padding: 50px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* bios? */
  .bio {
    float: left;
    width: 25%;
    padding: 50px;
  }
  /*dropdown*/
  .dropbtn {
    background-color: #ff8ba7;
    color: #000000;
    padding: 0px 45px;
    font-size: 16px;
    border: black;
    border-radius: 11px;
    display: inline-block;
    font: normal bold 26px/1 "lobster two";
    text-align: center;
    height: 75px

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #ff8ba7;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ff8ba7;}
 